.subscribeDiv {
  height: auto;
}
.subscribeText {
  h2 {
    color: #050545;
  }
}
.subscribeRow {
  border: 1px solid black;
  border-radius: 25px;
  background-color: #050545;
  margin-top: 138px;
  .subscribeRowDiv {
    color: whitesmoke;
    margin: auto;
    div {
      display: flex;
      align-items: center;
      input {
        width: 100%;
        margin: 0;
        padding: 10px 15px;
        border: 0px;
        height: auto;
      }
      button {
        height: auto;
        padding: 10px 15px;
        border-radius: 40px;
        border: 0px;
        background: #00cccc;
        color: white;
        font-weight: 600;
        margin-left: -50px;
      }
    }
  }
  form {
    img {
      height: 40px;
    }
  }
}
.subscribeImg {
  height: 290px;
  img {
    height: 419px;
    transform: translateY(-128px);
  }
}

@media (max-width: 992px) {
  /* For mobile phones: */
  .subscribeImg {
    display: none;
  }
  .subscribeRow {
    padding: 3rem 1rem;
    margin-top: 2rem;
  }
}
