.dept-card {
    border: none;
    // background-color: #050546;
    border: 1px solid #050546;
    border-radius: 40px;
}

.link {
    text-decoration: none;
    color: #00cccc;
}

.link :hover {
    text-decoration: none;
    color: #00cccc;
}