.appointmentChild {
  h2 {
    color: #050545;
    font-weight: 700;
    font-size: 1.9rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem 0;
  }
  .appointmentBook {
    background-color: #f4fcff;
    overflow: hidden;
    margin: 0.5rem 0 3rem 0;
    border-radius: 25px;
  }
  .appointmentInput {
    border: 1px solid #050546;
    background-color: white;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    color: #050546;
    &::placeholder {
      color: #050546;
    }
    &::-ms-input-placeholder {
      color: #050546;
    }
  }
  .appointmentSubmit {
    text-align: center;
    font-weight: 500;
    background-color: #050546;
    color: white;
    outline: none;
    border: 0;
    font-size: 1.3rem;
    padding: 10px 0;
  }
}

@media (max-width: 576px) {
  .appointmentChild {
    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .AppointmentImgCol {
    display: none !important;
  }
}
