$btn-color: #050546;
$text-color: #ffffff;
$secondary-color: #00cccc;

.custom-container {
  width: 75%;
  margin: 0 auto;
}
.header-main {
  height: 650px;

  .header-main-container {
    height: 500px;
    .welcome-content {
      height: 100%;

      h1 {
        color: $btn-color;
        font-size: 70px;
        text-transform: uppercase;
        font-weight: bold;

        .life {
          color: $secondary-color;
        }
      }
      p {
        color: $btn-color;
        font-size: 18px;
      }
      .login-btn {
        border: 2px solid $btn-color;
        outline: none;
        border-radius: 40px;
        text-transform: capitalize;
        font-size: 18px;
        color: $text-color;
        background: $btn-color;
        transition: 0.2s;
        a {
          color: $text-color;
          text-decoration: none;
        }
        &:hover {
          color: $btn-color;
          border: 2px solid $btn-color;
          background-color: $text-color;

          a {
            color: $btn-color;
          }
        }
      }
      .appoint-btn {
        color: $btn-color;
        border: 2px solid $btn-color;
        background-color: $text-color;
        border-radius: 40px;
        text-transform: capitalize;
        margin-left: 1%;
        transition: all 0.3s;
        &:hover {
          transition: all 0.4s;
          background: $btn-color;
          color: white;
        }
      }
    }
    img {
      height: auto;
    }
  }
}
.headerButton {
  font-size: 16px !important;
}

/* responsive */

$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;
$breakpoint-desktop: 992px;

@media (max-width: $breakpoint-phone) {
  .header-main {
    height: auto;
    padding: 20px 10px;
    .header-main-container {
      height: auto;
      .welcome-content {
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 15px;
        }
      }
      img {
        display: none;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: 991px) {
  .header-main {
    height: auto;
    padding: 20px 10px;
    .header-main-container {
      height: auto;
      .welcome-content {
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 15px;
        }
      }
      img {
        height: 80%;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
}
