$btn-color: #050546;
$text-color: #ffffff;
$paragraph-color: #666666;

.department {
  height: auto;
  background-color: #f1f6fa;

  h5 {
    color: $btn-color;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;
  }
  h2 {
    text-transform: capitalize;
    font-weight: 500;
  }

  .dept-container {
    background-color: $text-color;
    cursor: pointer;
    border-radius: 10px;
    padding: 0;

    &:hover > img {
      opacity: 0.8;
    }

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transition: 0.3s;
    }
    h4 {
      text-transform: capitalize;
      font-weight: 600;
    }
    p {
      color: $paragraph-color;
    }
    button {
      outline: none;
      background-color: $btn-color;
      color: $text-color;
      text-transform: capitalize;
      border: 2px solid $btn-color;
      padding: 8px 20px;
      &:hover {
        background-color: $text-color;
        color: $btn-color;
      }
    }
  }
}
