.socialIcon svg {
  font-size: 2rem;
  padding: 8px;
  margin: 2px 5px;
  color: #050546;
  border-radius: 50%;
  &:hover {
    background: rgb(165, 165, 165);
    font-size: 2.2rem;
    transition: all 0.3s;
  }
}

.footerContent {
  h4 {
  }
  h6 {
    color: rgb(99, 99, 99);
  }
}
