.footerParent {
  background: #050545;
}

.footerContent {
  h4 {
    color: white;
    padding: 4px 0;
  }
  h6 {
    color: white;
    cursor: pointer;
    padding: 2px 0;
    transition: all 0.2s;
    &:hover {
      color: rgb(192, 192, 192);
      transition: all 0.3s;
    }
  }
}

.footerSocial {
  hr {
    color: white;
    height: 2px;
    opacity: 1;
  }
  .socialIcon svg {
    font-size: 2.2rem;
    padding: 8px 8px;
    margin: 2px 5px;
    color: white;
    border-radius: 50%;
    transition: all 0.5s;
    &:hover {
      background: rgb(121, 121, 121);
      transition: all 0.5s;
    }
  }
  
}

.socialIcon {
  cursor: pointer;
}
