.accordion-button::after {
    background-image:url(https://www.freepnglogos.com/uploads/plus-icon/add-plus-icon-28.png);
}
.accordion-button:not(.collapsed)::after {
    background-image:url(https://i.ibb.co/wrKfZ3x/minus-removebg-preview-1.png)!important;
}
.accordion-button:not(.collapsed) {
    background-color: #fff;
  
}

.accordion-item {
    /* background-color: #fff; */
     border: 0px solid rgba(0,0,0,.125);
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0px 8px 9px 3px #d9d9e2!important;
}
.accordion-button:not(.collapsed) {
    color: black!important;
}
.accordion-button{
    // border:1px solid rgb(61, 68, 61);
    border-radius:0.75rem!important;
    box-shadow: 0px 8px 9px 3px #d9d9e2!important;
}
.accordionBodyStyle{
    background-color:#f5fcff!important;
    border-radius: 0.75rem;
    // border:1px solid #050546;
}

.hrStyle{
    background-color: #1dc0bf!important;
    width:40px!important;
    height:3px!important;
    opacity:1
}

@media only screen and (min-device-width: 768px) and (max-device-width:3000px) {
    .faqContainer{
         width:57%;
    }
}
