.accordion-button::after {
    background-image:url(https://www.freepnglogos.com/uploads/plus-icon/add-plus-icon-28.png);
}
.accordion-button:not(.collapsed)::after {
    background-image:url(https://i.ibb.co/cv2KkBT/minus1-removebg-preview.png)!important;
}
.accordion-button:not(.collapsed) {
    border:'1px solid green'
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    border-top-color: rgb(134, 183, 254);
    border-right-color: rgb(134, 183, 254);
    border-bottom-color: rgb(134, 183, 254);
    border-left-color: rgb(134, 183, 254);
    outline: 0;
    // color: #3065b5!important;
    box-shadow: 0px 1px 0px 0px #04043e!important;
}
.accordion-button:not(.collapsed) {
    color: white!important;
    background-color:#04043e;
}