$text-color: #ffffff;
$btn-color: #050546;

.logoImg {
  width: 10rem;
  margin-top: 1rem;
}
.navbarBtn {
  background-color: #050546;
  transition: all 0.3s;
  color: $text-color !important;
  padding: 7px 12px !important;
  color: white;
  text-decoration: none;
  &:hover {
    background-color: #212192;
    color: white;
  }
}
.logInBtn {
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s;
  margin-right: 8px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
  &:hover {
    color: $btn-color;
    background-color: rgb(223, 223, 223);
    color: rgba(0, 0, 0, 0.767);
  }
}
.nav-item {
  margin-right: 5px;
  font-weight: 600;
  font-size: 1.2rem;
}

.anchor-class {
  text-decoration: none;
  margin-top: 25px !important;
  position: absolute;
}
.navbarItem a {
  position: relative;
  width: fit-content;
}
.navbarItem a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #050546;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 0.2s;
}
.navbarItem a:hover::after {
  transform: scaleX(1);
  transition: all 0.3s;
}
.navbarBtnItem {
  width: fit-content;
}
.togglerBtn {
  font-size: 1.4rem;
  border: 0px;
  background: #e2e2e2;
  box-shadow: none !important;
  outline: none !important;
}

@media (max-width: 576px) {
  .signUpBtn {
    padding: 6px 11px;
    font-size: 1.09rem;
  }
  .logInBtn {
    padding: 6px 11px;
    font-size: 1.1rem;
  }
}
