.takeAppointmentDiv {
  h2 {
    color: #00cccb;
  }
  h1 {
    font-weight: bold;
    color: #050545;
  }
}

.appointmentImg {
  img {
    width: 100%;
    border-radius: 40px;
    filter: grayscale(50%);
    transition: 1.8s ease;
    &:hover {
      filter: grayscale(0%);
      transition: 1.8s ease;
    }
  }
}

.appointBtn {
  background-color: #050545;
  transition: all 0.4s;
  color: white;
  border: 3px solid #050546;
  padding: 10px 18px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  &:hover {
    background-color: white;
    color: #050546;
    transition: all 0.4s;
  }
}

@media (max-width: 576px) {
  .appointBtn {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
  .appointmentContent {
    h2 {
      font-size: 1.5rem;
    }
  }
}
