.takeAppointmentDiv{
  h2 {
    color: #00cccb
  }
  h1{
    font-weight: bold;
    color: #050545
  }
  height: 700px;
  margin-top: 180px
}


.appointmentImg{
  img{
    border-radius: 40px;
    animation-name: imgAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    filter: grayscale(50%);
    transition: 1.8s ease;
    &:hover{
      filter: grayscale(0%);
      transition: 1.8s ease;
    }
  }
}

// @keyframes imgAnimation {
//   0% {
//     border-radius: 0 35px 0 35px;
//   }
//   50% {
//     border-radius: 35px 0 35px 0;
//   }
//   100% {
//     border-radius: 0 35px 0 35px;
//   }
// }


@media screen and (max-width:780px) {
  .takeAppointmentDiv{
    margin-top: 0px
  }
  .flexdiv{
    flex-wrap: wrap;
    margin-left: 180px;

    img{
      height: 250px;
      margin-top: 20px;
    }

  }
}

@media screen and (max-width:430px) {
  .flexdiv{
    flex-wrap: wrap;
    margin-left: 20px;

    img{
      height: 250px;
      margin-top: 20px;
    }

  }
}

@media screen and (max-width:380px) {
  .flexdiv{
    flex-wrap: wrap;
    margin-left: 30px;

    img{
      height: 250px;
      margin-top: 20px;
    }

  }
}

