.addDoctorSection{
    background-color: #f8f9fa!important;
}
.sectionDoctorBg{
    background-color:#ffffff!important;
    opacity:1;
}
.form-select, .form-select:focus{
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    // border: rgba(255, 255, 255, 0);
    border: 2px solid #050546;
    background-color: #fff;
 }
