.addDoctorSection{
    background-color: #f8f9fa!important;
}
.sectionDoctorBg{
    background-color:#ffffff!important;
    opacity:1;
}

.formControlAddDoctor{
         border: 1px solid #212729!important;
        margin-top:2px!important;
        height:40px!important;
}
.addDoctorFormStyle{
    width:90%;
    margin:auto;
}
.formSelectAddDoctor{
         border: 1px solid #212729!important;
        margin-top:2px!important;
        height:40px!important;
}

.registerDoctorButton{
    padding:5px 5px;
    border-radius: 30px;
    background-color: #1d1d48 ;
    height:50px;
    width:100px;
}