.blogDateContainer{
   background-color: #1d1d48!important;
   border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.blogRadiusContainer{
   border-radius: 0.75rem;
}

.blogImageContainer{
    height:35%!important;
}

.blogDetailsContainer{
    height:50%!important;
}

.blogDetailTitle{
    height:3rem!important;
}


.blogImage{
    height:180px;
}
.readMoreBlogButton{
    padding:5px 15px;
    border-radius: 30px;
    border:3px solid #1d1d48;
}
.blogContainer{
    width:94%;
    margin:auto
}

.ModalImage {
    height: 180px;
    display: flex;
    align-items: center;
}
.blogCard{
    border-radius: 0.70rem!important;
}