.blogDateContainer{
   background-color: #1d1d48!important;
}
.blogImageContainer{
    height:35%!important;
}
.blogImage{
    height:180px;
}
.readMoreBlogButton{
    padding:5px 15px;
    border-radius: 30px;
    border:3px solid #1d1d48;
}
.blogContainer{
    width:94%;
    margin:auto
}